body {
    color: #000;
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: Georgia, Palatino, serif;
}
#top {
    padding-top: 10px;
    margin-top: 0px;
    background-color: #2B9062;
    text-align: center;
}
#top h1{
    color: white;
}
#top input{
    display: inline-block;
    color: #2a5d84;
    background-color: #30A872;
    text-align: left;
    width: 100%;
}
#top button{
    margin-top: 10px;
    height: 50px;
    width: 100%;
}
#text img{
    float:left;
    height: 100px;
    width: 100px;
}
#text .texttitle{
    margin-top: 27px;
}
#text .good{
    float: right;
}
#text .resource{
    float: left;
}
#tab .index{
    margin-top: 100%;
    margin-left: -200px;
    float: left;
}
#tab .nearby{
    margin-top: 100%;
    margin-left: 25%;
    float: left;
}
#tab .note{
    margin-top: 100%;
    float: right;
}